html {
	font-family: 'Helvetica', sans-serif;
}

body {
    line-height: 1.4;
}

h1 {
	margin-top: 0px;
	margin-bottom: 2px;
	padding: 0px;
	font-size: 27px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 23px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 18;
	font-weight: normal;
}

p {
	margin-top: 2px;
	margin-bottom: 18px;
	padding: 0px;
	font-size: 16px;
}

a {
	color: #428bca;
	text-decoration: none;
	font-weight: normal;
}

img.scaled {
	width: 154px;
	position: relative; 
	top: 10px;
}

.code {
	font-family: 'Courier New', monospace;
}

.con-all {
	max-width: 800px;
	margin: auto
}

.con-row {
	width: 800px;
	float: left;
	padding-top: 0px;
 	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.pic-l {
	width: 150px;
	float: left;
	position: relative;
 	min-height: 1px;
 	padding-top: 5px;
 	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

.div-650 {
	max-width: 650px;
	position: relative;
 	min-height: 1px;
 	padding-top: 5px;
 	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
}

.div-800 {
	max-width: 800px;
	position: relative;
 	min-height: 1px;
 	padding-top: 5px;
 	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}