/* Publication boxes. */

.section {
    float: left; 
    width: 100%;
}

.publication {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.publication img {
    padding-top: 6px;
    padding-right: 20px;
    border-radius: 0px;
}

.publication .publication-img {
    min-width: 150px;
    max-width: 20%;
    float: left;
    padding: 5px;
}

.publication .publication-ref {
    float: left;
    max-width: 750px;
}

.section .h-line {
    float: left;
    width: 100%;
    height: 0%;
    border-top: 1px solid;
}